<%= form_with(model: article, class: "article__form") do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="article__form-title">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "article__form-title__input" %>
  </div>

  <div class="article__form-description">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "article__form-description__input" %>
  </div>

  <div class="article__form-button">
    <%= form.submit class: "btn-success" %>
  </div>
<% end %>
