<p style="color: green"><%= notice %></p>

<div class="article__show">
  <%= render @article %>
</div>

<div class="btn-group">
  <%= link_to "Edit this article", edit_article_path(@article), class: "btn-edit" %>
  <%= link_to "Back to articles", articles_path, class: "btn-back" %>

  <%= button_to "Destroy this article", @article, method: :delete, class: "btn-danger" %>
</div>

