<p style="color: green"><%= notice %></p>

<%= render @search_analytic %>

<div>
  <%= link_to "Edit this search analytic", edit_search_analytic_path(@search_analytic) %> |
  <%= link_to "Back to search analytics", search_analytics_path %>

  <%= button_to "Destroy this search analytic", @search_analytic, method: :delete %>
</div>
